@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
/* ------------ Nav ---------------- */
header{
    background-color: #1f2937;
    color: #F9FAF8;
}
.logo{
    font: 24px ;
    color: #F9FAF8;
    cursor: pointer;    
    margin-right: auto;
}
nav{
    display: flex;
    padding: 20px 280px;
    margin-bottom: 70px;
}
.links{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    gap: 20px;
    
}
nav a{
    text-decoration: none;
    text-emphasis: none;
    color: #F9FAF8;
}
/* -------------- Head ---------------- */
.ant{
    font: 48px;
    padding: 20px 280px;
    padding-bottom: 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}
span{
    display: block;
    margin: 10px auto
}
button{
    background-color: #3882F6;
    color: white;
    font-size: 16px;
    margin: 10px 0;
    border-radius: 10px;
    border: 0px solid;
    cursor: pointer;
    padding: 10px 30px;

}
.ant img{
    width: 400px;
    border: 2px solid #E5E7EB;
    border-radius: 10px;
}
.ant1 {
    margin-right: auto;
}
/* -------------- Top games ---------------- */
.section2{
    text-align: center;
    padding: 40px 280px;
    margin-bottom: 70px;
    font: 36px;
    color: #1F2937
}
.gamebox{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}
.gamebox img{
    width: 250px;
    height: 150px;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
}
.gamebox h3{
    margin-bottom: 10px;
}
/* -------------- quote ---------------- */
.section3{
    text-align: center;
    padding: 160px 500px;
    margin-bottom: 70px;
    background-color: #E5E7EB;
    font-size: 16px;
}
.quote{
    font-family: sans-serif;
    font-style: italic;
    text-justify: inter-word;
    font-size: 36px;
    color: #1F2937;
    margin-bottom: 10px;
}
/* -------------- Section 4 ---------------- */
.section4{
    padding: 20px 280px;
    margin-bottom: 70px;
    font: 36px;
    color: white;
}
.section4 div{
    padding: 20px 50px;
    background-color: #3882F6;  
    display: flex;
    align-content: space-between;
}
.section4 button{
    border: 2px solid white;
}
.one{
    display: block;
    flex-direction: column;
}
.section4 h3{
    margin-top: 6px;
    margin-bottom: 6px;
}
.two{
    margin-left: auto;
}
/* -------------- Footer ---------------- */
footer{
    background-color: #1f2937;
    font-family: "Montserrat";
    color: white;
    text-align: center;
    padding: 40px;
}  